# Ignore node_modules
node_modules/

# Ignore build and dist folders
dist/
build/

# Ignore environment variables
.env

# Ignore logs
*.log
logs/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE/editor settings
.vscode/
.idea/
*.swp